In [9]:
import numpy as np
import matplotlib.pyplot as plt # Visuals 
import sklearn as skl
import pandas as pd
import csv
import seaborn as sns

from sklearn.model_selection import KFold, cross_val_score 
from sklearn.neighbors import KNeighborsClassifier 
from sklearn import cross_validation
from sklearn.svm import SVC as svc

In [10]:
trainData = pd.read_csv('numerai_training_data.csv')
trainData.head()

,id,era,data_type,feature1,feature2,feature3,feature4,feature5,feature6,feature7,...,feature13,feature14,feature15,feature16,feature17,feature18,feature19,feature20,feature21,target
0,131425,era1,train,0.30556,0.51332,0.63612,0.37564,0.47909,0.60480,0.27846,...,0.32158,0.51288,0.28894,0.35427,0.66625,0.65928,0.20048,0.67746,0.43310,0
1,33058,era1,train,0.48893,0.54088,0.63199,0.46102,0.38900,0.50122,0.61046,...,0.39956,0.70195,0.67195,0.34842,0.59658,0.62032,0.64752,0.45098,0.40611,0
2,11886,era1,train,0.48445,0.55517,0.66143,0.40466,0.34314,0.51936,0.69973,...,0.37304,0.78140,0.73172,0.33330,0.61488,0.66201,0.68457,0.46194,0.42768,0
3,138233,era1,train,0.47968,0.56416,0.58870,0.44709,0.43121,0.48611,0.53326,...,0.41466,0.63677,0.53184,0.41226,0.57170,0.60222,0.48431,0.50111,0.40677,1
4,82468,era1,train,0.86798,0.85592,0.18941,0.79383,0.70528,0.45087,0.57506,...,0.81797,0.46280,0.58799,0.76926,0.16697,0.20779,0.60567,0.13658,0.16671,0

The training datasets has 22 columns. 
21 columns consists of our features ranging from feature 1 to feature 21 while the last column is the target value; a 1 or 0 value which is going to be used to train our classifier. We have about 96321 rows.

In [11]:
testData = pd.read_csv('numerai_tournament_data.csv')
testData.head()

,id,era,data_type,feature1,feature2,feature3,feature4,feature5,feature6,feature7,...,feature13,feature14,feature15,feature16,feature17,feature18,feature19,feature20,feature21,target
0,22967,era97,validation,0.50804,0.60327,0.57012,0.52157,0.44413,0.54057,0.55002,...,0.44745,0.63843,0.60580,0.41574,0.54561,0.56361,0.56063,0.42723,0.35707,1.0
1,15059,era97,validation,0.48122,0.59241,0.56970,0.46650,0.45787,0.53325,0.51399,...,0.43024,0.62191,0.53798,0.41657,0.55718,0.58090,0.48492,0.48461,0.37946,0.0
2,46082,era97,validation,0.55096,0.42503,0.60670,0.41012,0.39451,0.33493,0.58351,...,0.42831,0.62880,0.50916,0.41854,0.56945,0.61534,0.56139,0.52867,0.53159,0.0
3,2459,era97,validation,0.54843,0.57556,0.54392,0.47468,0.45540,0.45777,0.56921,...,0.46872,0.62897,0.55955,0.45125,0.51961,0.55739,0.54271,0.45480,0.40268,0.0
4,70676,era97,validation,0.49895,0.39956,0.61882,0.44880,0.43407,0.55716,0.43866,...,0.42247,0.52348,0.38935,0.41342,0.59151,0.60665,0.44727,0.58476,0.56271,1.0

The tournament datasets is our test set which also has 22 columns. Column 1 is t_id which is the target id from our training data. The 21 remaining columns is our features values.

In [12]:
features_train, features_test, labels_train, labels_test = cross_validation.train_test_split(trainData.iloc[:,0:21], 
                                                            trainData['target'], test_size=0.3, random_state=0)

In [13]:
clf = svc(C=1.0).fit(features_train, labels_train)

ValueError: could not convert string to float: 'train'